.metric-alert-wrap{
    margin-top: 25px;
    border: 1px solid #dddddd;
    padding: 0px;
    min-height: 400px;
}
.metric-alert-Tit{
    border-bottom: 1px solid #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.pros-borderless-tab >tbody>tr>td,.pros-borderless-tab >thead>tr>th{
    border: 0px !important; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.pros-arrow-up,.pros-arrow-down{
    color: #507C68;
    margin-right: 15px;
    font-size: large;
}
.pros-arrow-down{
    color: #ff0000;
}
.highcharts-credits{
    display: none;
}
.pros-borderless-tab >thead>tr>th{
    background: #eee;
    font-weight: normal; 
}
.highcharts-title{
    font-size: 14px !important;
}
.apply-filter-wrap{
    padding-right: 15px;
    position: absolute;
    right: 0;
    margin-top: -35px;
}
.pros-datatable{
    margin-top: 20px;
}
.MuiTableRow-root-349 th{
    font-size: 16px !important;
    background: #2e6da4 !important;
    color: #ffffff !important;
}
.MUIDataTableToolbar-titleRoot-296 >.MuiTypography-root-224{
    font-size: 20px !important;
}
.MuiTypography-root-224{
    font-size: 12px;
}
.pros-icons span{
    color: #ffffff;
    position: absolute;
    margin-top: -25px;
    margin-left: 11px;
    background: #E1150D;
    border-radius: 20px;
    font-size: 11px;
    padding: 1px 2px;
}